src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c759d027-1388-4a85-833e-661e941e4e34" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="1250342c-0bc3-448f-b376-13ba573a8d3c" >
		<http:listener doc:name="Listener" doc:id="9ee9432e-c515-4257-bdb1-c055a0209c85" config-ref="HTTP_Listener_config" path="hello"/>
		<ee:transform doc:name="Transform Message" doc:id="65ad3f25-ce80-44c8-ba26-9fc2d911c951" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Message" : "Hello world !"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="22022c4c-51e6-47d9-b720-9a85798bfae3" variableName="var1"/>
		<logger level="INFO" doc:name="Logger" doc:id="ed19d5a8-b6b8-4336-b176-6e55707b2db8" />
		<flow-ref doc:name="Flow Reference" doc:id="f0787f96-ca9a-49f8-8225-736bcc754c2c" name="hello-worldSub_Flow"/>
	</flow>
	<sub-flow name="hello-worldSub_Flow" doc:id="16fb49cf-553a-4159-9745-b8fa4db60830" >
		<ee:transform doc:name="Transform Message" doc:id="f178dcd1-46ff-4727-bf67-20058a127802" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ee585a43-6abc-4c2f-bee2-0a623f00eb01" />
	</sub-flow>
</mule>
